<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Issue New Card</title>
    <div th:replace="fragments/header::head"></div>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="container">
    <h1>Card Issue</h1>

    <form action="#" th:action="@{/card/issue}" th:object="${card}" method="post">
        <p>
            Mobile No: <input type="text" th:field="*{mobileNo}">
        </p>
        <p>
            Group: <input type="text" th:field="*{group}">
        </p>
        <p>
            Status: <input type="text" th:field="*{status}">
        </p>
        <p>
            <input type="submit" value="Submit"/>
        </p>
    </form>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>